<app-navbar></app-navbar>
<div class="jumbotron">
    <h1 class="text-center">Edit & Update Restaurant Form</h1>
</div>

<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success !</strong> Your Data Updated Successfully!..
    <button (click)="alertClose()" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form class="form" [formGroup]="updateRestaurant" (ngSubmit)="updateResto()">

    <div class="mb-3 col-md-6">
      <label class="form-label">Email address</label>
      <input type="text" class="form-control" placeholder="Enter Email" formControlName="email">
    </div>
    <div class="mb-3 col-md-6">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" placeholder="Enter Name" formControlName="name">
    </div>
    <div class="mb-3 col-md-6">
        <label class="form-label">Phone</label>
        <input type="text" class="form-control" placeholder="Enter Phone" formControlName="mobile">
    </div>
    <div class="mb-3 col-md-6">
        <label class="form-label">Addres</label>
        <input type="text" class="form-control" placeholder="Enter Addres" formControlName="address">
    </div>

    <button type="submit" class="btn btn-primary mb-3 mx-sm-3">Update</button>

</form>
