<div class="jumbotron">
    <h1 class="text-center">Register User For restaurant Application</h1>
</div>

<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success !</strong> User Created Successfully!..
    <button (click)="alertClose()">X</button>
</div>

<form class="form" [formGroup]="registerUserForm" (ngSubmit)="regUser()">

    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" placeholder="Enter Name" formControlName="name">
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" placeholder="Enter Phone" formControlName="email">
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" placeholder="Enter Addres" formControlName="password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>
