  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLinkActive="active" routerLink="list">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="create">Create</a>
        </li>
      </ul>
    </div>
  </nav> -->

  <!-- Id and Password in login.component.ts -->

  <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="home">{{title}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="add" >Add Resto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register-list" >List Resto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login" >Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register" >Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>